# 1. Series 데이터 생성하기 (index, value 활용)

In [1]:
import numpy as np
import pandas as pd

Series
- pandas의 dataframe 중에서 1차원 자료
- numpy의 ndarray를 기반으로 인덱싱을 추가하여 1차원 배열을 나타냄

In [3]:
s1 = pd.Series([1, 2, 3])
s1

0    1
1    2
2    3
dtype: int64

In [4]:
s2 = pd.Series(['a','b','c'])
s2

0    a
1    b
2    c
dtype: object

In [6]:
s3 = pd.Series(np.arange(200))
s3

0        0
1        1
2        2
3        3
4        4
      ...
195    195
196    196
197    197
198    198
199    199
Length: 200, dtype: int32

In [7]:
s4 = pd.Series([1,2,3], [100,200,300])
s4

100    1
200    2
300    3
dtype: int64

In [8]:
s5 = pd.Series([1,2,3], ['a','b','c'])
s5

a    1
b    2
c    3
dtype: int64

In [9]:
s6 = pd.Series(np.arange(5), np.arange(100,105), dtype = np.int32) # detype -> optimizing memory
s6

100    0
101    1
102    2
103    3
104    4
dtype: int32

In [10]:
s6.index

Int64Index([100, 101, 102, 103, 104], dtype='int64')

In [11]:
s6.values

array([0, 1, 2, 3, 4])

In [13]:
s6[100]

0

In [15]:
s6[104] = 500
s6

100      0
101      1
102      2
103      3
104    500
dtype: int32

In [16]:
s6[105] = 90  # 존재하지 않는 인덱스를 재정의하면, 업데이트됨. 오류 x
s6

100      0
101      1
102      2
103      3
104    500
105     90
dtype: int64

In [18]:
s7 = pd.Series(np.arange(6), s6.index)
s7

100    0
101    1
102    2
103    3
104    4
105    5
dtype: int32

# Series 데이터 심플 분석 (개수, 빈도 등 계산하기)

size: 개수반환
shape: 튜플형태로 shape 반환
uniqe: 유일한 값만 ndarray로 반환
count: NaN을 제외한 개수를 반환 (NaN: 숫자만 아닌거)
mean: NaN을 제외한 평균
value_counts: NaN을 제외하고 각 값들의 빈도를 반환

In [20]:
s = pd.Series([1, 1, 2, 1, 2, 2, 2, 1, 1, 2, 3, 4, 5, 5, 7, np.NaN])
s

0     1.0
1     1.0
2     2.0
3     1.0
4     2.0
5     2.0
6     2.0
7     1.0
8     1.0
9     2.0
10    3.0
11    4.0
12    5.0
13    5.0
14    7.0
15    NaN
dtype: float64

In [22]:
len(s)

16

In [24]:
s.size

16

In [26]:
s.shape

(16,)

In [28]:
s.unique()

array([ 1.,  2.,  3.,  4.,  5.,  7., nan])

In [30]:
s.count()

15

In [31]:
s.mean() #numpy 같은 경우 데이터에 NaN이 있으면 연산을 못하나, pandas는 연산 가능.

2.6

In [32]:
s.value_counts() #빈도를 count해주는 함수

2.0    5
1.0    5
5.0    2
3.0    1
7.0    1
4.0    1
dtype: int64

인덱스를 활용하여 멀티플한 값에 접근

In [33]:
s[[5,7,8]] #인덱스를 여러개 리스트 형태로 넣어서 다시 리스트로 반환받는것. 이 시리즈를 기반으로 위의 함수들 적용이 가능함.

5    2.0
7    1.0
8    1.0
dtype: float64

In [36]:
s.head(n=7)

0    1.0
1    1.0
2    2.0
3    1.0
4    2.0
5    2.0
6    2.0
dtype: float64

In [35]:
s.tail()

11    4.0
12    5.0
13    5.0
14    7.0
15    NaN
dtype: float64

In [37]:
s

0     1.0
1     1.0
2     2.0
3     1.0
4     2.0
5     2.0
6     2.0
7     1.0
8     1.0
9     2.0
10    3.0
11    4.0
12    5.0
13    5.0
14    7.0
15    NaN
dtype: float64

# Series 데이터 연산하기

index를 기준으로 연산

In [39]:
s1 = pd.Series([1,2,3,4], ['a','b','c','d'])
s2 = pd. Series([6,3,2,1], ['d','c','b','a'])

s1

a    1
b    2
c    3
d    4
dtype: int64

In [40]:
s2

d    6
c    3
b    2
a    1
dtype: int64

In [41]:
s1 + s2

a     2
b     4
c     6
d    10
dtype: int64

In [42]:
s1 ** 2

a     1
b     4
c     9
d    16
dtype: int64

In [43]:
s1 ** s2

a       1
b       4
c      27
d    4096
dtype: int64

In [44]:
4 ** 6

4096

index의 pair 가 맞지않으면, 결과가 NaN으로 나옴

In [45]:
s1['k'] = 7
s2['e'] = 4

In [46]:
s1 + s2

a     2.0
b     4.0
c     6.0
d    10.0
e     NaN
k     NaN
dtype: float64

In [47]:
s1 ** s2

a       1.0
b       4.0
c      27.0
d    4096.0
e       NaN
k       NaN
dtype: float64

# Series 데이터 Boolean Selection으로 데이터 선택하기

Boolean Series가 []와 함께 사용되면 True에 해당하는 값만 새로 반환되는 Series객체에 포함됨/
다중 조건의 경우, &(and), |(or)을 사용하여 연결 가능

In [49]:
s = pd.Series(np.arange(10), np.arange(10)+1)
s

1     0
2     1
3     2
4     3
5     4
6     5
7     6
8     7
9     8
10    9
dtype: int32

In [50]:
s > 5

1     False
2     False
3     False
4     False
5     False
6     False
7      True
8      True
9      True
10     True
dtype: bool

In [51]:
s[s>5]

7     6
8     7
9     8
10    9
dtype: int32

In [52]:
s[s%2==0]

1    0
3    2
5    4
7    6
9    8
dtype: int32

In [53]:
s[s.index>5]

6     5
7     6
8     7
9     8
10    9
dtype: int32

In [57]:
s[(s>5) & (s<8)]

7    6
8    7
dtype: int32

# Series 데이터 변경 & 슬라이싱하기

In [58]:
s = pd.Series(np.arange(100, 105), ['a','b','c','d','e'])
s

a    100
b    101
c    102
d    103
e    104
dtype: int32

In [59]:
s.drop('a') #drop시키는 결과가 새로운 series로 만들어지나 원 series에는 영향을 안줌.
#inplace = True 라고 하면 복사본 없이 s에 연산을 해버리는거라서 영향을 주게됨.

b    101
c    102
d    103
e    104
dtype: int32

In [60]:
s

a    100
b    101
c    102
d    103
e    104
dtype: int32

In [61]:
s[['a','b']] = [150, 110]

In [62]:
s

a    150
b    110
c    102
d    103
e    104
dtype: int32

In [64]:
s1 = pd.Series(np.arange(100, 105))
s1

0    100
1    101
2    102
3    103
4    104
dtype: int32

In [65]:
s1[1:3]

1    101
2    102
dtype: int32

In [67]:
s2 = pd.Series(np.arange(100, 105), ['a','b','c','d','e'])
s2

a    100
b    101
c    102
d    103
e    104
dtype: int32

In [68]:
s2[1:3]  #index가 abcd여도 이렇게 순서를 읽어와서 슬라이싱이 가능.

b    101
c    102
dtype: int32

In [70]:
s2['a':'c'] #원 이름으로도 slicing을 할 수 있으나, 문자열로 이루어진 인덱싱인 경우 마지막을 포함한다.

a    100
b    101
c    102
dtype: int32